<include file='Public/header' />
<div class="blank"></div>
<div class="block2">
<div class="blank"></div>
<div class="orderSuccess">
 <div class="order_sn tc"> 感谢您在本店购物！您的订单已提交成功，请记住您的订单号：<font class="a">{$ord_sn}</font></div>
  <div class="shipping_name">
	 您的应付款金额为： <strong class="f1">￥{$money}元</strong>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="立即支付"><br>
	</div>
 	<p>现在，您可以 <a herf="{:U('Home/index/index')}">返回首页</a> 或去 <a herf="#">用户中心</a></p>
</div>
</div>
<include file='Public/footer' />